# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

orbs:
  macos: circleci/macos@2
  #mac-permissions: circleci/macos
  #codecov: codecov/codecov@4.0.1

# Build iOS
jobs:
  build-and-test-ios:
    macos:
      xcode: "15.4.0"
    environment:
      XCODE_SCHEME: "PurLog"
      XCODE_PROJECT: "PurLog.xcodeproj"
      XCODE_SDK: "iphonesimulator"
      XCODE_DESTINATION: "platform=iOS Simulator,OS=17.5,name=iPhone 15"
    steps:
      - checkout
      - run:
          name: Install Gems
          command: |
            gem install bundler
            bundle install
      - run:
          name: Build and Test iOS
          command: |
            xcodebuild clean test \
              -project "$XCODE_PROJECT" \
              -scheme "$XCODE_SCHEME" \
              -sdk "$XCODE_SDK" \
              -destination "$XCODE_DESTINATION" \
              -enableCodeCoverage YES | xcpretty --test --color
  
  # Build iPad
  build-and-test-ipados:
    macos:
      xcode: "15.4.0"
    environment:
      XCODE_SCHEME: "PurLog"
      XCODE_PROJECT: "PurLog.xcodeproj"
      XCODE_SDK: "iphonesimulator"
      XCODE_DESTINATION: "platform=iOS Simulator,OS=17.5,name=iPad (10th generation)"
    steps:
      - checkout
      - run:
          name: Build and Test iPadOS
          command: |
            xcodebuild clean test \
              -project "$XCODE_PROJECT" \
              -scheme "$XCODE_SCHEME" \
              -sdk "$XCODE_SDK" \
              -destination "$XCODE_DESTINATION"
              
  # Build tvOS
  build-and-test-tvos:
    macos:
      xcode: "15.4.0"
    environment:
      XCODE_SCHEME: "PurLog"
      XCODE_PROJECT: "PurLog.xcodeproj"
      XCODE_SDK: "appletvsimulator"
      XCODE_DESTINATION: "platform=tvOS Simulator,OS=17.5,name=Apple TV"
    steps:
      - checkout
      - run:
          name: Install Gems
          command: |
            gem install bundler
            bundle install
      - run:
          name: Build and Test tvOS
          command: |
            xcodebuild clean test \
              -project "$XCODE_PROJECT" \
              -scheme "$XCODE_SCHEME" \
              -sdk "$XCODE_SDK" \
              -destination "$XCODE_DESTINATION"
              
  # Build visionOS
  build-and-test-visionos:
    macos:
      xcode: "15.4.0"
    environment:
      XCODE_SCHEME: "PurLog"
      XCODE_PROJECT: "PurLog.xcodeproj"
      XCODE_SDK: "xrsimulator"
      XCODE_DESTINATION: "platform=visionOS Simulator,OS=1.2,name=Apple Vision Pro"
    steps:
      - checkout
      - run:
          name: Install Gems
          command: |
            gem install bundler
            bundle install
      - run:
          name: Build and Test visionOS
          command: |
            xcodebuild clean test \
              -project "$XCODE_PROJECT" \
              -scheme "$XCODE_SCHEME" \
              -sdk "$XCODE_SDK" \
              -destination "$XCODE_DESTINATION"
              
  # Build watchOS
  build-and-test-watchos:
    macos:
      xcode: "15.4.0"
    environment:
      XCODE_SCHEME: "PurLogWatch"
      XCODE_PROJECT: "PurLog.xcodeproj"
      XCODE_SDK: "watchsimulator"
      XCODE_DESTINATION: "platform=watchOS Simulator,OS=10.5,name=Apple Watch Ultra 2 (49mm)"
    steps:
      - checkout
      - run:
          name: Install Gems
          command: |
            gem install bundler
            bundle install
      - run:
          name: Build and Test watchOS
          command: |
            xcodebuild clean test \
              -project "$XCODE_PROJECT" \
              -scheme "$XCODE_SCHEME" \
              -sdk "$XCODE_SDK" \
              -destination "$XCODE_DESTINATION"
              
  # Build macOS
  #build-and-test-macos:
  #  macos:
  #    xcode: "15.4.0"
  #   steps:
  #     - checkout
  #     - run: echo 'chruby ruby-2.7' >> ~/.bash_profile
  #     - mac-permissions/add-uitest-permissions
  #     - run: bundle install
  #     - run: bundle exec fastlane testandbuild
              
  #publish-codecov:
  #  macos:
  #    xcode: "15.4.0"
  #  environment:
  #    XCODE_SCHEME: "PurLog"
  #    XCODE_PROJECT: "PurLog.xcodeproj"
  #    XCODE_SDK: "iphonesimulator"
  #    XCODE_DESTINATION: "platform=iOS Simulator,OS=17.5,name=iPhone 15"
  #  steps:
  #    - checkout
  #    - run:
  #        name: Install Gems
  #        command: |
  #          gem install bundler
  #          bundle install
  #    - run:
  #        name: Build and Test iOS
  #        command: |
  #          xcodebuild clean test \
  #            -project "$XCODE_PROJECT" \
  #            -scheme "$XCODE_SCHEME" \
  #            -sdk "$XCODE_SDK" \
  #            -destination "$XCODE_DESTINATION" \
  #            -enableCodeCoverage YES | xcpretty --test --color
  #    - run:
  #        name: Run Slather Coverage
  #        command: |
  #          bundle exec slather coverage -x --output-directory test_report --scheme "$XCODE_SCHEME" "$XCODE_PROJECT"
  #    - run:
  #        name: Codecov Upload
  #        command: |
  #          bash <(curl -s https://codecov.io/bash) -f test_report/cobertura.xml -X coveragepy -X gcov -X xcode -t $CODECOV_TOKEN
              

workflows:
  version: 2
  build_and_test:
    jobs:
      #- build-and-test-ios
      #- build-and-test-ipados
      #- build-and-test-tvos
      #- build-and-test-visionos
      - build-and-test-watchos
      #- build-and-test-macos
      #- publish-codecov
