<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HostApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KeychainHostTest Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KeychainHostTestApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PurLog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PurLogTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PurLogWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F7A162F2C9D6A0C004607D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F7A16362C9D6A0C004607D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F7A16462C9D6A34004607D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F7A164B2C9D6A34004607D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FF2FC512C72B97900917679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FF2FC5B2C72B97900917679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FF2FCB32C73CE4A00917679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
